* {
  margin: 0px;
  padding: 0px;
}

  body {
  font-family: 'Oswald', sans-serif;
  background: #f9f9f9;
}

/* Navigation Bar */
#logo{
  width: 100%;
  height: 100%;
  max-width: 150px;
}


.nav-list{
  background: #f9f9f9;
  box-shadow: 0px 0px 10px var(--clr-gray200);
  margin: 0;
  padding: 1rem 0;
  border-radius:var(--radius);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav-link{
  list-style: none;
  margin-right: 2rem;
}

.nav-link a{
  text-decoration: none;
  color: black;
}

.nav-link:first-child{
  margin-right:auto;
  margin-left: 1rem;
}

/* a:hover{
  background-color: #e6e6e6;
} */

@media screen and (max-width: 600px) {
   .nav-list{
    font-size: 12px;
  }
  #logo {
    max-width: 100px;
  }
}

/* The Video flex blox part of structure */
.container {
  max-width: 100%;
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 100px;
}

video{
  width: 80%;
  height: auto;
}

.internalcontainerA {
  flex: 0.3;
  font-size: 12px;
  text-align: center;
}

.internalcontainerB {
  flex: 0.3;
  font-size: 12px;
  text-align: center;
}

.internalcontainerC {
  flex: 0.3;
  font-size: 12px;
  text-align: center;
}

@media screen and (max-width: 600px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: auto;
  }

  .internalcontainerA{
    width: 60%;
    }

  .internalcontainerB{
    width: 60%;
    }

    .internalcontainerC{
      width: 60%;
    }

    video {
    width: 60%;
    height: auto;
  }

  h2 {
    font-size: 15px;
  }
}

/* Hopkins Picture */
.main {
  background-color:#e6e6e6;
  position: relative;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.tone-1{
  height: 110vh;
  flex: 1;
}

.tone-2{
  height: 110vh;
  flex: 1;
  position: relative;
}

.tone-2 img{
  width: 60%;
  position: relative;
  top: 50%;
  left: 10rem;
  transform: translateY(-50%);
}

.product-info{
  display: flex;
  width: 90%;
  margin: 0 auto;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 850px) {
  .tone-2 img{
    left: -0.7rem;
    width: 100%;
  }
  /* .main{
    height: 70vh;
  } */
  .product-info h1{
    font-size: 13px;
    /* margin-bottom: 2rem; */
  }
}
/* Slide Container  */


.slide-container{
  width: 100%;
  height: 100vh;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  width: 350px;
  height: 550px;
  background-color: #e6e6e6;
  border-radius: 10px;
  box-shadow: -2px 3px 12px -9px rgba(0,0,0,0.75);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  margin: 0px 5px;
}

.model {
  height: 60%;
  max-height: 100%;
  max-width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  margin-bottom: 20px;
}

.ralph {
  margin-top: 70px;
  color: black;
  text-decoration: none;
  /* font-weight: bold; */
  letter-spacing: 3px;
  font-size: 17px;
}

/* Youtube CSS */
.container2 {
  background-color:#e6e6e6;
  max-width: 100%;
  display: flex;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.porteryt {
  width: 100%;
  height: 100vh;
  flex: 1;
  position: relative;
}

.porteryt iframe{
  width: 550px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 5rem;
  transform: translateY(-50%);
}

.message{
  display: flex;
  margin: 0 auto;
  height: auto;
  align-items: center;
  justify-content: center;
  flex: 1;
}


@media screen and (max-width : 800px)
{
   .container2{
    width: 100%;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .message{
  font-size: 12px;
  }
  .porteryt{
    margin-right: 40px;
  }
  .porteryt iframe{
    width: 70%;
    height: 80%;
  }
}

/* Footer CSS */

footer {
  box-sizing: border-box;
  position: relative;
  bottom: 0px;
  width: 100%;
  text-align: center;
  background-color: #e6e6e6;
  padding: 0px 0px 15px 0px;
}

.forsyle{
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  flex-basis: 50%;
}

.foot-container{
  display: flex;
  flex-direction: row;
  margin: 0px 0px 0px 0px;
}

.leftbox {
  height: 30px;
  flex-basis: 50%;
  font-size: 12px;
}

.centerbox {
  height:30px;
  flex-basis: 50%;
    font-size: 12px;
}


.rightbox {
  height:30px;
  flex-basis: 50%;
  font-size: 12px;
}

li {
    list-style: none;
}

a{
  text-decoration: none;
  color: black;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform:translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active{
  transform:translate(-50%, -50%) scale(1);
}

.modal-header{
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px black solid;
}

.modal-header .title{
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: bold;
  background-color:transparent;
}

.modal-body{
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  transition: 200ms ease-in-out;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  pointer-events: all;
  opacity: 1;
}
